<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>thoughtbot Brand Assets & Guidelines</title>
    <%= stylesheet_link_tag "base" %>
  </head>
  <body class="index">
    <main role="main">
      <%= yield %>
    </main>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <%= javascript_include_tag "nav-active-class.js" %>
    <%= javascript_include_tag "smooth-scroll.js" %>
    <%= javascript_include_tag "sticky-nav.js" %>
  </body>
</html>
