<header>
  <div class="main-content-wrap">
    <h1 class="page-heading">Brand Assets &amp; Guidelines</h1>
  </div>
</header>
<div class="nav-wrap">
  <nav>
    <ul>
      <li>
        <a href="/#logo">The Logo</a>
      </li>
      <li>
        <a href="/#logomark">The Logomark</a>
      </li>
      <li>
        <a href="/#logotype">The Logotype</a>
      </li>
      <li>
        <a href="/#formats">Formats</a>
      </li>
      <li>
        <a href="/#usage-guidelines">Usage Guidelines</a>
      </li>
      <li>
        <a href="/#colors">Colors</a>
      </li>
      <li>
        <a href="/#typography">Typography</a>
      </li>
    </ul>
  </nav>
</div>
<div class="main-content-wrap">
  <section class="intro">
    <p>
      The purpose of this guide is to ensure that consistency is maintained
      across the thoughtbot brand, whether assets are used internally or
      externally. Please reference this guide whenever you use these assets
      to ensure that they are used correctly.
    </p>
    <a class="button--download-guide" href="https://images.thoughtbot.com/presskit/thoughtbot-brand-guidelines.pdf">Download Brand Guide</a>
    <a class="button--download-assets" href="assets/thoughtbot-assets-pack.zip">Download Assets Pack</a>
    <a class="button--github" href="https://github.com/thoughtbot/presskit">View on GitHub</a>
  </section>
  <section id="logo">
    <h2>The Logo</h2>
    <p>
      The thoughtbot logo combines the two most important visual elements of
      our brand, the thoughtbot logotype and the thoughtbot logomark (Ralph).
      The examples below illustrate the recognizable graphic features that
      make the thoughtbot logo unique.
    </p>
    <p>
      To maintain consistency across the varied applications of the brand,
      only three configurations of the thoughtbot logo are permitted. The
      “horizontal” version is the preferred primary configuration.
      In situations where this configuration does not have adequate scale or
      impact, alternative configurations are provided.
    </p>
    <p>
      The thoughtbot logo elements should never be separated. Position, size,
      and color, along with the spatial and proportional relationships of the
      thoughtbot logo elements are predetermined and should not be altered.
    </p>
    <div class="logo">
      <h3>The Logo (Default Horizontal)</h3>
      <%= image_tag "logo.svg", alt: "thoughtbot logo horizontal with logomark and logotype" %>
    </div>
    <div class="sans-logotype">
      <h3>Sans-Logotype</h3>
      <%= image_tag "sans-logotype.svg", alt: "thoughtbot logo with logomark only" %>
    </div>
    <div class="stacked-vertical">
      <h3>Stacked Vertical</h3>
      <%= image_tag "stacked-vertical.svg", alt: "thoughtbot logo vertical with logomark and logotype" %>
    </div>
  </section>
  <section id="logomark">
    <h2>The Logomark</h2>
    <p>
      The unique thoughtbot “Ralph” logomark represents our brand.
    </p>
    <p>
      The logomark and the individual elements of the logomark should not be
      altered or modified unless the modified version is being used for
      approved internal use.
    </p>
    <p>
      The importance of this cannot be stressed strongly enough; modification
      or re-treatment of the thoughtbot logomark will detract from the
      integrity of the thoughtbot logo and, more importantly, the value of
      the thoughtbot brand.
    </p>
    <%= image_tag "logomark.svg", alt: "Ralph logomark" %>
  </section>
  <section id="logotype">
    <h2>The Logotype</h2>
    <p>
      The thoughtbot logotype is a customized version of the “Cabin” typeface.
    </p>
    <p>
      The sans serif style is favored for its legibility and readability with
      its ability to render a balance and symmetry that is complementary to
      the thoughtbot logomark.
    </p>
    <p>
      In order to protect the integrity of our brand, the logotype must never
      be altered or replaced by any other type.
    </p>
    <%= image_tag "logotype.svg", alt: "thoughtbot logotype" %>
  </section>
  <section id="formats">
    <h2>Formats</h2>
    <p>
      If ever the default color version has contrast issues with its
      background, an alternate version in all white is recommended. (All
      formats are include in the assets pack.)
    </p>
    <%= image_tag "formats.svg", alt: "examples of thoughtbot logo on light and dark backgrounds" %>
  </section>
  <section id="usage-guidelines">
    <h2>Usage Guidelines</h2>
    <h3>Don't</h3>
    <ul>
      <li>
        Use the robot logomark outside of the circle.
      </li>
      <li>
        Alter the proportions of the logo or logotype when use together, for
        either the horizontal or vertical orientations.
      </li>
    </ul>
    <h3>Do</h3>
    <ul>
      <li>
        Prefer the default horizontal logo for all marketing uses.
      </li>
      <li>
        Prefer the default color versions of the logo. Only use the alternate
        (white) versions when the default versions have contrast problems with the background on which they are being used.
      </li>
      <li>
        Use the circular logo, without the company name, on internal branding,
        or only in close proximity with our name or other
        identifiable branding.
      </li>
    </ul>
  </section>
  <section id="colors">
    <h2>Colors</h2>
    <p>
      The thoughtbot brand utilizes two main colors: “thoughtbot red” and
      dark gray. These colors may be used with varying levels of opacity in
      order to create “overlay” effects when layering colors and photography,
      or creating transparency. Please use this reference guide to maintain
      consistency of the brand.
    </p>
    <div class="primary-color-container">
      <div class="primary-color"></div>
      <div class="opacity-shifts">
        <div class="opacity-shift-1"></div>
        <div class="opacity-shift-2"></div>
        <div class="opacity-shift-3"></div>
        <div class="opacity-shift-4"></div>
        <div class="opacity-shift-5"></div>
      </div>
      <dl class="color-specs">
        <dt>Primary Color</dt>
        <dd><code>#e03131</code></dd>
        <dd><code>rgb(224, 49, 49)</code></dd>
        <dd><code>cmyk(0, 99, 91, 0)</code></dd>
        <dd>Pantone® P 48-8u*</dd>
      </dl>
    </div>
    <div class="secondary-color-container">
      <div class="secondary-color"></div>
      <div class="opacity-shifts">
        <div class="opacity-shift-1"></div>
        <div class="opacity-shift-2"></div>
        <div class="opacity-shift-3"></div>
        <div class="opacity-shift-4"></div>
        <div class="opacity-shift-5"></div>
      </div>
      <dl class="color-specs">
        <dt>Secondary Color</dt>
        <dd><code>#29292c</code></dd>
        <dd><code>rgb(41, 41, 44)</code></dd>
        <dd><code>cmyk(7, 7, 0, 83)</code></dd>
        <dd>Pantone® P 98-16u*</dd>
      </dl>
    </div>
    <p>
      <small>
        * Uncoated Process (4 color printing on uncoated paper) is recommended
        for most printing applications.
      </small>
    </p>
  </section>
  <section id="typography">
    <h2>Typography</h2>
    <p>
      We primarily use the
      <a href="https://klim.co.nz/retail-fonts/calibre/">Calibre</a>
      font family. It's straightforward, but full of personality. We typically
      use regular weight for body copy and semibold weight for headings.
    </p>
    <div class="regular-typeface">
      <h3 class="typeface-name">Calibre Regular</h3>
      <p class="uppercase">abcdefghijklmnopqrstuvwxyz</p>
      <p class="lowercase">abcdefghijklmnopqrstuvwxyz</p>
    </div>
    <div class="semibold-typeface">
      <h3 class="typeface-name">Calibre Semibold</h3>
      <p class="uppercase">abcdefghijklmnopqrstuvwxyz</p>
      <p class="lowercase">abcdefghijklmnopqrstuvwxyz</p>
    </div>
  </section>
</div>
